<!-- homepage.component.html -->
<div class="container-fluid">
  <div class="jumbotron mt-4 text-center">
    <h1 class="display-4">Welcome to Anki Copy <i class="fas fa-graduation-cap"></i></h1>
    <p class="lead">Enhance your learning experience with Anki Copy!</p>
    <hr class="my-4">
    <p>Choose an option below to get started:</p>
    <a class="btn btn-success btn-lg mr-2" routerLink="/quizz">
      <i class="fas fa-question-circle"></i> Take the Quiz
    </a>
    <a class="btn btn-primary btn-lg mr-2" routerLink="/lesson-search-page">
      <i class="fas fa-search"></i> Search for a Lesson
    </a>
    <a class="btn btn-secondary btn-lg" routerLink="/test-page1">
      <i class="fas fa-graduation-cap"></i> Test Page 1
    </a>
  </div>
</div>
